body {
  color: #333333;
  font: 10.5pt RobotoReg;
}
article + article  {
  margin-top: 6.5mm;
}
h1, h2, h3 {
  margin: 0mm;
  padding: 0mm;  
}
p {
  margin-top: 3mm;
}



#header {
}
#header img {
  max-height: 30mm;
  position: absolute;
  right: 18mm;
  top: 11mm;
}
#header span {
  font: 6pt RobotoReg;
  position: absolute;
  left: 4mm;
  top: 3mm;
}



#outlet {
  display: none;
}
#sheet:first-child #outlet {
  display: block;
}



#article * {
  border: 0mm solid;
}
#article h3 {
  margin: 9mm 0mm 0.75mm 0mm; 
  font: 10pt RobotoReg;
}
#article h1 {
  margin: 0mm;
  font: 24pt PlayfairReg;
}
#article h2 {
  margin: 6mm 0mm 0.75mm 0mm;
  font: 10.5pt RobotoReg;
  font-weight: bold;
}
#articleSummary {
  margin-top: 6.75mm;
}
#articleSummary > tr > td:nth-child(1) {
  width: 85mm;
}
#articleSummary > tr > td:nth-child(2) {
  padding: 0mm;
}
#articleSummary > tr > td:nth-child(3) {
  width: 85mm;
}
#articleSummary > tr > td:first-child {
  background: #F2F2F2;
}
#articleSummary > tr:first-child + tr > td {
  vertical-align: bottom;
}
#articleSummaryDetails {
  margin-bottom: 6mm;
}
#articleSummaryDetails td:first-child,
#articleSummaryPrice td:first-child {
  padding-left: 5mm;
}
#articleSummaryDetails td:last-child,
#articleSummaryPrice td:last-child {
  font-weight: bold;
  padding-right: 5mm;
  text-align: right;
}
#articleSummaryDetails tr:first-child td {
  padding-top: 5mm;
}
#articleSummaryDetails tr td {
  padding: 0mm 0mm 0.75mm 0mm;
}
#articleSummaryPrice {
  margin-top: 6mm;  
}
#articleSummaryPrice tr:last-child td {
  padding-bottom: 5mm;
}
#articleSummaryPrice tr td {
  padding: 0.75mm 0mm 0mm 0mm;
}
#articleSummaryPrice tr:first-child td {
  font: 11pt RobotoReg!important;
  font-weight: bold!important;
}
#articleSummaryPrice tr:last-child td {
  font-size: 12pt!important;
  font-weight: bold!important;
}
#articleSummaryImage img {
  display: block;
  max-width: 85mm;
}



#sheet + #sheet,
#article + #article {
  page-break-before: always;
}
  


#footer {
  display: table-cell;
  height: 297mm;
  vertical-align: bottom;
  width: 100%;
  font-size: 8.5pt;
} 
#footer section {
  border-top: 1px solid #D9D9D9;
}
#footer table {
  margin-bottom: 5mm;
}
#footer table td.date {
}
#footer table td.page {
  text-align: right;
}