@page {
  margin:36mm 18mm 40mm 18mm;
  size:A4 portrait;
}
@page:first {
  margin-top:18mm;
}
header {
  padding:0mm 18mm 0mm 18mm;
}
footer {
  padding:0mm 18mm 0mm 18mm;
}
      
      
      
body {
  color:#333333;
  font:10.5pt RobotoReg;
}

article + article  {
  margin-top:6.5mm;
}

h1, h2, h3 {
  margin:0mm;
  padding:0mm;  
}

p {
  margin-top:3mm;
}



#header {
}
#header img {
  max-height:30mm;
  position:absolute;
  right:18mm;
  top:11mm;
}
#header span {
  font:6pt RobotoReg;
  position:absolute;
  left:5mm;
  top:3mm;
}



#outlet {
  display:none;
}
#outlet h1 {
  font:12pt RobotoMed;
  margin-bottom:2mm;
}
#outlet p {
  margin:0.75mm 0mm 0mm 0mm;
  padding:0mm;
}
#sheet:first-child #outlet {
  display:block;
}



#article * {
  border:0mm solid;
}
#article > h1 {
  font:24pt PlayfairReg;
  margin-bottom:5mm; 
}
#article > h2 {
  font:10.5pt RobotoReg;
  margin-top:8mm;
}
#article > h3 {
  font:10pt RobotoReg;
  margin-bottom:0.5mm;
}
#article > table {
}
#article > table:after {
  border-bottom:6px solid #FFFFFF;
  content:'';
  display:block;
  position:relative;
  top:-6px;
}
#article > table > tr > td:first-child,
#article > table > tr > td:last-child {
  width:84mm;
}
#article > table > tr > td:first-child + td {
}
#article > table > tr > td:first-child {
  background:#F2F2F2;
}
#article > table img {
  max-width:84mm;
  top:-2px;
  border-top:1px solid #FFFFFF;
}
#article > table table td:first-child {
  padding-left:5mm;
}
#article > table table td:last-child {
  font-weight:bold;
  padding-right:5mm;
  text-align:right;
}
#article > table table tr:first-child td {
  padding-top:5mm;
}
#article > table table tr:last-child td {
  padding-bottom:5mm;
}
#article > table > tr:first-child + tr > td {
  vertical-align:bottom;
}
#article #articlePrice {
  top:-6px;
}
#article #articlePrice tr td {
  font:11pt RobotoReg;
  font-weight:bold;
}
#article #articlePrice tr:last-child td {
  font:12pt RobotoReg;
  font-weight:bold;
}
#article #articleDescription br {
  display:block;
  height:6pt;
}
#article > table + h2 {
  margin-top:4mm;
}



#sheet + #sheet {
  page-break-before:always;
}
  


#footer {
  display:table-cell;
  height:297mm;
  vertical-align:bottom;
  width:100%;
  font-size:8.5pt;
} 
#footer section {
  border-top:1px solid #D9D9D9;
}
#footer table {
  margin-bottom:5mm;
}
#footer table td.date {
}
#footer table td.page {
  text-align:right;
}